[mysqld]
bind-address=localhost
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user=mysql

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load=rpl_semi_sync_master=semisync_master.so
# uncomment next line on SLAVE
;plugin-load=rpl_semi_sync_slave=semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled=1
;rpl_semi_sync_master_timeout=10
;rpl_semi_sync_slave_enabled=1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

default-storage-engine=MyISAM
local-infile=0
innodb_file_per_table=1
thread_concurrency=2 # Number of CPUs x 2

max_user_connections=200
max_connections=300
interactive_timeout=10
wait_timeout=20
connect_timeout=20
max_connect_errors=20

query_cache_limit=1M
query_cache_size=32M ## 32MB for every 1GB of RAM, max of 384M if busy MySQL server
query_cache_type=1

thread_cache_size=32
key_buffer=128M ## 128MB for every 1GB of RAM
myisam_sort_buffer_size=32M
read_rnd_buffer_size=1M ## 1MB for every 1GB of RAM
read_buffer_size=1M ## 1MB for every 1GB of RAM
sort_buffer_size=1M ## 1MB for every 1GB of RAM
join_buffer = 1M

table_cache=128
max_allowed_packet=16M

innodb_buffer_pool_size=1M
innodb_additional_mem_pool_size=500K
innodb_log_buffer_size=500K
innodb_thread_concurrency=2


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open_files_limit = 8192


[mysqldump]
quick
max_allowed_packet = 16M


[isamchk]
key_buffer = 512M
sort_buffer = 512M
read_buffer = 64M
write_buffer = 64M


[myisamchk]
key_buffer = 512M
sort_buffer = 512M
read_buffer = 64M
write_buffer = 64M
